/* CSS Document */
    @media screen and (max-width: 1246px){
    fieldset
    {
    width:29%;
    }  
    fieldset.resultField
    {
    width:95.0%;
    }
    textarea
    {
    width:99.2%;
    }
    }
    @media screen and (max-width: 1080px){
    fieldset
    {
    width:28%;
    } 
    fieldset.resultField
    {
    width:94.0%;
    }
    textarea
    {
    width:99.1%;
    }
    }
    @media screen and (max-width: 900px){
    fieldset
    {
    width:44%;
    }   
    fieldset.resultField
    {
    width:93.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:930px;
    }
    }
    @media screen and (max-width: 790px){
    fieldset
    {
    width:42%;
    }   
    fieldset.resultField
    {
    width:90.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:960px;
    width:96.9%;
    }
    }
    @media screen and (max-width: 610px){     
    fieldset
    {
    width:41%; 
    height:130px;
    }   
    fieldset.resultField
    {
    width:90.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1120px;
    width:96.5%;
    }
    }
    @media screen and (max-width: 550px){     
    fieldset
    {
    width:40%; 
    height:130px;
    }   
    fieldset.resultField
    {
    width:90.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1120px;
    width:95.8%;
    }
    }
    @media screen and (max-width: 493px){ 
    fieldset
    {
    width:90%; 
    height:100px;
    }   
    fieldset.resultField
    {
    width:90.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1650px;
    width:95.8%;
    }
    }  
    @media screen and (max-width: 450px){  
    fieldset
    {
    width:90%; 
    height:100px;
    }   
    fieldset.resultField
    {
    width:90.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1650px;
    width:95.8%;
    }
    }
    @media screen and (max-width: 400px){   
    fieldset
    {
    width:89%; 
    height:100px;
    }   
    fieldset.resultField
    {
    width:89.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1650px;
    width:94.0%;
    }
    }
    @media screen and (max-width: 360px){  
    fieldset
    {
    width:87%; 
    height:100px;
    }   
    fieldset.resultField
    {
    width:87.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1685px;
    width:94.0%;
    }
    }
    @media screen and (max-width: 310px){     
    fieldset
    {
    width:84%; 
    height:130px;
    }   
    fieldset.resultField
    {
    width:84.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:1990px;
    width:93.0%;
    }
    }
    @media screen and (max-width: 280px){    
    fieldset
    {
    width:82%; 
    height:130px;
    }   
    fieldset.resultField
    {
    width:82.0%;
    }
    textarea
    {
    width:99.0%;
    }
    #container
    {
    height:2020px;
    width:92.0%;
    }
    }